OWNER_NAME="Arima"
PREFIX="@"
PUBLIC_MODE='non'
AUTO_READ_STATUS="oui"
AUTO_DOWNLOAD_STATUS="non"
BOT_NAME= "LUCKY_MD"
IMAGE_MENU= "https://i.imgur.com/ecRS5BQ.jpeg"
NUMERO_OWNER= "0565647864"
OWNER_NAME= "᚛Arima᚜"
DATABASE_URL= ""
WARN_COUNT= "3"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
