OWNER_NAME="Fredi Ezra"
PREFIX="@"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "LUCKY_MD"
IMAGE_MENU= "https://i.imgur.com/ecRS5BQ.jpeg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Fredi Ezra᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
